[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
turicreate = "*"
opencv-python = "*"
imutils = "*"
google-images-download = "*"

[dev-packages]

[requires]
python_version = "3.6"
